#Introdução à lógica de programação com R

## Prof. Guilherme

## Google Colab

Google Colab é um ambiente de programação gratuito (*um Jupiter Notebook*) que roda completamente na NUVEM!

Tipo Google Docs, mas para *codear*

$\color{blue}{\text{Pontos positivos}}$ em usar o Google Colab

+ Não há necessidade de instalar a linguagem ou um GUI no PC.
+ Garantir um ambiente colaborativo de aprendizagem e desenvolvimento
+ Podemos começar para já!


$\color{red}{\text{Ponto negativo}}$

+ Você teria que instalar a linguagem (R) e o GUI (RStudio) no seu próprio computador quando quiser usar sozinho (em um ambiente não colaborativo).

<br>

**Para os aventurosos que quiserem instalar o R no próprio computador (você não precisará disso para essa aula):**


+ Download do R aqui: https://cran.r-project.org/
+ Download do RStudio aqui: https://www.rstudio.com/products/rstudio/download/

# R como uma Calculadora

A verdade é que as linguagens de programação não passam de *calculadoras chiques*

![](https://cdn.iconscout.com/icon/free/png-256/math-1963506-1657007.png)

o R pode:

* `+` adicionar
* `-` subtrair
* `*` multiplicar
* `/` dividir
* `^` exponenciar

##Adicionei algumas células para você abaixo, tente fazer algumas contas matemáticas:

Para adicionar células, basta clicar ali em cima em "+ Código", é importante prestar atenção para onde está o seu ponteiro, digo qual célula está selecionada. Para selecionar uma célula basta clicar nela.

In [ ]:
2+2

[1] 4

## Mas essas calculadoras são poderosíssimas! Podemos até misturar operadores:

In [ ]:
(15 + 5) / (2 * 5)

> Nota importante: quando colocamos uma # na frente do nosso código estamos comentando algo! Ou seja, escrevendo um **comentário** a respeito do código que fizemos. Acredite, é importante!

Comentários são formas simples de adicionarmos textos ao nosso código, por exemplo para explicar o que estamos fazendo ali.

In [ ]:
#Eu serei ignorado
2*2*2
## Eu também!!!
#O R nem liga pra mim

In [ ]:
#Escreva aqui
Causarei um erro

## Dados sobre o tempo de vida de Animais

Digamos que você queira saber o quão velho é um animal em "anos humanos".

Podemos usar a seguinte formula para determinar isso:

$\frac{\text{Maximo de vida humana}}{\text{Maximo de vida de um animal não humano}} =  \text{Anos de animais não humanos para humanos}$

*Nota: Essa é uma forma bem **rústica** para determinar taxas de conversão de idade. Na [verdade](https://www.akc.org/expert-advice/health/how-to-calculate-dog-years-to-human-years/) é bem mais complicado que isso*


Por quê estamos usando longevidade ao invés de.. por exemplo a *média da expectativa de vida*? 

De acordo com o [Banco de dados de longevidade e expectativa de vida animal](https://www.johnsnowlabs.com/marketplace/the-animal-aging-and-longevity-database/) (John Snow Labs):

> "[...] [M]áxima longevidade (também conhecido como tempo de vida) [...] é o parâmetro amplamente usado para comparação de taxa de envelhecimento entre as espécies."


Primeiro, alguns pontos importantes.


**Longevidade humana**

O ser-humano que mais viveu foi uma mulher chamada: [Jeanne Calment](https://en.wikipedia.org/wiki/Jeanne_Calment). Francesa, atingiu a idade de **122(!)**. Nasceu em 1875 e viveu até 1997.

**Estatísticas sobre a longevidade animal**

 Aqui está uma tabela com a máxima longevidade de vários animais:

| Animal | Maxima longevidade (em anos)|
| --- | --- | 
| Humano | 122.5 | 
| Cão doméstico | 24.0 | 
| Gato doméstico | 30.0 | 
| Alligator | 77.0 | 
| Hamster | 3.9 | 
| Pinguin Real | 26.0 | 
| Leão |	27.0 | 
| Tubarão da Groenlandia	 | 392.0 | 
| Tártaruga de Galapagos | 177.0 | 
| Elefante africano	 | 65.0 | 
| Leão marinho da California	| 35.7	 | 
| Mosca da fruta		| 0.3	 | 
| Camundongo		| 4.0	 |
| Girafa		| 39.5	 |
| Javali selvagem		| 27.0	|


	
*Fonte: [Animal Ageing and Longevity Database](https://www.johnsnowlabs.com/marketplace/the-animal-aging-and-longevity-database/)*.

### Anos de cachorro para anos de humanos

Calculando a taxa de conversão de animal não humano para humano:

In [ ]:
# Faça um cálculo usando a fórmula aprendida acima:
# máxima longevidade humana/máxima longevidade canina = ?

Então para cada ano que os seres humanos envelhecem, cachorros "envelhecem" 5.1 anos humanos.

Ou melhor:
Cada 1 ano para nós, representa aproximadamente 5.1 anos para os cachorros.

Qual a idade de um cachorro de 15 anos em "anos humanos"?

In [ ]:
#taxa de conversão * 15
5.104167*15

# Objetos no R 

Pode ser bastante tedioso ficar digitando esses números várias e várias vezes.

Para simplificar esse processo existem **OBJETOS em R**.

Um objeto é uma forma de **gravar informação**, ele pode guardar números, textos, funções, tabelas, entre outras coisas.

Ao criar um objeto estamos gravando a informação no nosso ambiente de trabalho e podemos buscar essa informação nesse objeto sempre que quisermos simplesmente chamando o nome do objeto e rodando a célula.

Criamos objetos no R usando o operador de atribuição:

> **<-**

ou igual:

> **=**

[Guia estiloso do tidyverse](https://style.tidyverse.org/) recomenda o uso de **<-** para criação de objetos, e vamos usar este com mais frequência. 

Um exemplo de criação de objeto:

1. Primeiro, designamos o máximo de vida humana para uma variável chamada `vida_humana`. Depois, designamos o máximo de vida de um cão para `vida_cao`.

In [ ]:
#Leia essa célula para criar 2 objetos, um chamado "vida_huamana" e outro chamado "vida_cao"
vida_humana  <- 122.5
vida_cao <- 24

Se rodarmos as células abaixo (botão play) perceberemos que o computador nos retorna os números salvos.

In [ ]:
vida_humana

In [ ]:
vida_cao

Agora podemos fazer os mesmos cálculos de antes, porém desta vez usando objetos!

In [ ]:
cao_para_humano <- vida_humano / vida_cao

A variável `cao_para_humano` agora mantém o valor da conversão de anos de cachorro em anos humanos.

In [ ]:
cao_para_humano

*Agora* perguntamos novamente: quão idoso é um cachorro de 15 anos em "anos humanos"?

In [ ]:
cao_para_humano*15

Mesmo resultado de antes.

#Por quê é importante usar objetos?

### Anos de gato para anos de humanos

In [ ]:
vida_gato <- 30

In [ ]:
gato_para_humano <- vida_humano/vida_gato

gato_para_humano * 15


> Note que o nome do objeto poderia ser qualquer coisa aqui! Escolhemos nomes fáceis de lembrar e auto-explicativos, mas poderiamos ter escolhido qualquer outro nome como **`x`**, **`y`** ou **`z`**. Ou **`biloba`**. Ou qualquer coisa. Você entendeu.



## Uma nota sobre nomear as paradas


> $$\color{blue}{\text{"Existem duas coisas difíceis no campo das Ciências da Computação:}}$$
> $$\color{blue}{\text{invalidação de cache e nomear as paradas. ~ Phil Karlton"}}$$

![](https://pbs.twimg.com/media/ELuERYrU0AAI_7b?format=jpg&name=4096x4096)


Artista: [Allison Horst](https://github.com/allisonhorst/stats-illustrations)

Existem muitas abordagens para nomear as paradas em programação.

Por aqui estamos usando uma técnica chamada *lower snake case*, que também é parte do [guia estiloso do tidyverse](https://style.tidyverse.org/syntax.html).  

Usamos sublinhados ou underscores (`_`) para separar letras de um nome.

Exemplo:

```markdown
# Recomendado
animal_lifespan

# Não recomendado
AnimalLifespan
animal.lifespan
```

É uma questão de estilo, mas também de boas práticas!

# Operadores Lógicos

Existem ainda mais operadores! O R conhece toneladas deles.

Operadores lógicos podem ser usados para Testes lógicos que podem resultar em: 

$\text{TRUE}$ ou $\text{FALSE}$

*(isso é conhecido como uma variável BOOLEANA)*

Bora criar uns objetos e tentar alguns Testes lógicos!

In [ ]:
# note que os nomes dos objetos estão inglês. Escolha entre continuar usando os 
# mesmos nomes ou renomear os objetos.
lion_lifespan <- 27
mouse_lifespan <- 4
fly_lifespan <- 0.3
boar_lifespan <- 27
alligator_lifespan <- 77
greenland_shark_lifespan <- 392
galapagos_tortoise_lifespan <- 177
#escolha um animal, pesquise seu tempo de vida máximo e inclua aqui:


## Igualdade

**`==`** pergunta se dois valores são os mesmos ou iguais.

In [ ]:
# se você trocou o nome dos objetos, terá que escrever aqui, se não apenas clique em play na célula 
lion_lifespan == boar_lifespan

O código acima testa a seguinte afirmação: 
>  O tempo de vida de um leão é igual ao tempo de vida de um javali. 

Como ambos tem 27 anos máximos de vida, a resposta claramente é **`TRUE`** (verdadeiro).

## Diferença ou diferentes

**`!=`** pergunta se dois valores não são os mesmos ou são diferentes.

In [ ]:
# mesma nota da célula anterior
lion_lifespan != boar_lifespan

# tente com dois objetos diferentes para receber TRUE

O código acima testa o inverso da nossa primeira afirmação:
>  O tempo de vida de um leão **não é igual** que o tempo de vida de um Javali. 

Como ambos os tempos de vida são `27` isso é uma afirmação **`FALSE`**

## Maior ou menor

Podemos também testar se certos valores são maiores ou menores do que outros:

`>` maior que

In [ ]:
# atenção aos objetos
human_lifespan > fly_lifespan

O código acima testa a seguinte afirmação: 
>  O tempo de vida de um humano é maior que o tempo de vida de uma mosca da fruta (fly). 

Como o valor máximo de vida humana é `122.5` e da mosca não chega a 1 ano: `0.3` anos, então essa é uma clara afirmação **`TRUE`**.

In [ ]:
alligator_lifespan < mouse_lifespan

O código acima testa a seguinte afirmação:
>  O tempo de vida de um alligator é menor que o tempo de vida de um camundongo. 

Como o tempo de vida do alligator é `77` e o camundongo vive por `4` anos, então isso é com certeza uma afirmação **`FALSE`**.

#Também temos as seguintes opções:

*   `>=` Maior que ou igual
*   `<=` Menor que ou igual

In [ ]:
20 >= 20

In [ ]:
#Faça alguns testes aqui

# Combinando Operadores Lógicos

Podemos combinar testes lógicos para testar várias afirmações ao mesmo tempo:

* `&` significa "e" (sem surpresas!)
* `|` significa "ou" (um pouco menos esperado)

Por exemplo ambos `alligator_lifespan` (atenção ao nome do objeto criado anteriormente) e `fly_lifespan` tem que ser maiores que `mouse_lifespan` para que o código abaixo seja validado como `TRUE` pelo computador.

In [ ]:
alligator_lifespan > mouse_lifespan & fly_lifespan > mouse_lifespan

Se dizemos `|` (= ou), significa que se qualquer afirmação ser validada com `TRUE` é o bastante!

In [ ]:
alligator_lifespan > mouse_lifespan | fly_lifespan > mouse_lifespan


# Vetores


Ok, aprendemos sobre objetos. Mas até o momento apenas aprendemos como guardar um único valor numérico.

A linguagem R é com certeza muito mais poderosa que isso. Objetos podem manter qualquer número e outros tipos de dados também.

De fato é bom lembrar que:

> $\color{blue}{\text{"Tudo o que existe em R é um objeto."}}$
~John M. Chambers

Agora bora dar uma olhada em **vetores**, ou objetos que invluem mais de um valor!

Podemos imaginar vetores como uma simples lista de valores. Esses vetores podem conter números, mas também `strings` ou texto.

Para criar um vetor em R, fazemos uso de uma função chamada `c()` (que significa "concatenar" ou "combinar")

In [ ]:
#Aqui criamos um vetor com 4 espaços, cada um recebendo um número de 1 a 4.
c(1, 2, 3, 4)

[1] 1 2 3 4

Podemos até combinar nossos objetos criados anteriormente:

In [ ]:
c(greenland_shark_lifespan, dog_lifespan, 
  galapagos_tortoise_lifespan,
  mouse_lifespan, fly_lifespan,
  lion_lifespan, boar_lifespan,
  alligator_lifespan, human_lifespan)

Podemos criar vetores com strings ou texto usando aspas " ":

In [ ]:
c("greenland_shark", "dog", 
  "galapagos_tortoise", "mouse", 
  "fly", "lion", "boar",
  "alligator", "human")

E claro! Podemos colocar os vetores em objetos.

Bora criar um vetor `vida_animais` com os diferentes tempos de vida dos animais.

In [ ]:
vida_animais <- c(greenland_shark_lifespan, dog_lifespan, 
  galapagos_tortoise_lifespan,
  mouse_lifespan, fly_lifespan,
  lion_lifespan, boar_lifespan, 
  alligator_lifespan, human_lifespan)

Agora se quisermos ter diferentes conversões de idade entre animais não humanos e humanos, podemos dividir o máximo tempo de vida humano por esse vetor (objeto = vida_animais).

In [ ]:
vida_humano/vida_animais

Perceba como a operação é feita para cada ITEM do vetor separadamente, e que o resultado é... OUTRO VETOR!

In [ ]:
vida_animais_para_humanos <- vida_humano/vida_animais

Podemos também usar operadores lógicos com vetores:

In [ ]:
vida_animais_para_humanos < 1

Novamente, perceba que cada operação é feita para cada ITEM separadamente e que o resultado é novamente outro vetor, desta vez contendo uma série de `TRUE` e `FALSE`. Verdadeiros e Falsos.

## Pequena nota sobre tipos de variáveis

Existem 4 principais tipos de variáveis:

* **logical (ou lógica)**: Boolean/binary (Booleana ou Binária), é sempre `TRUE` ou `FALSE`

In [ ]:
#com a função "class()" podemos compreender os tipos de variáveis para o computador
class(TRUE)

[1] "logical"

* **character (or string) (texto)**: texto simples, incluindo simbolos e números `"texto"`

In [ ]:
class("Eu sou um texto")

In [ ]:
class("Tudo que estiver entre aspas vai ser interpret@d0 com0 t2xt0")

[1] "character"

In [ ]:
class("Em programação são utilizados os termos caracter, string ou character")

* **numeric (numérico)**: Literalmente números. Operadores matemáticos podem ser usados aqui.

In [ ]:
class(2020)



* **factor (fator)**: Números ou strings (texto) ORDENADOS de alguma forma

In [ ]:
class(as.factor(c("Eu", "sou", "um", "fator")))

In [ ]:
class(as.factor(c(1, 2, 3, 4)))

[1] "factor"

Outro importante valor para conhecer é o `NA`. Vem do inglês "Not Available" ou Não Disponível e simplesmente significa que ali (no objeto) não existe valor (em inglês é conhecido como *missing value*).

Existe bem mais como datas e tempo, mas não vamos falar sobre isso agora.

In [ ]:
c(NA, 1, 2, NA)

## Um operador lógico para tratar vetores: `%in%`

Um operador incrivelmente útil para lidar com vetores é o **`%in%`**.

Este operador checa se vários elementos ocorrem em algum lugar em seus vetores.

Para usar este operador basta fazer assim:

$\color{red}{\text{vetor1}}$ %in% $\color{orange}{\text{vetor2}}$

Vamos primeiro criar um vetor chamado `animais` que inclui todos os animais

In [ ]:
animais <- c("greenland_shark", "dog", 
  "galapagos_tortoise", "mouse", 
  "fly", "lion", "boar",
  "alligator", "human")

Digamos que queremos checar se `giraffe`, `greenland_shark` ou `lion` estão em `animais`. 

Se usarmos `|` teríamos que escrever algo assim:

In [ ]:
animais == "giraffe" | animais == "greenland_shark"  | animais == "lion"

Agora com `%in%` podemos simplesmente passar um vetor assim:

In [ ]:
checar_animais <-  c("giraffe", "greenland_shark", "lion")
animais %in% checar_animais

Será que o `greenlands_shark` ou a `giraffe` estão em nosso vetor `animais`?

In [ ]:
c("greenland_shark", "giraffe") %in% animais

In [ ]:
animais %in%  c("greenland_shark", "giraffe")

# Indexando

Indexar ou Indexing é feito via colchetes `[]` e serve para encontrarmos algum valor específico dentro do nosso objeto.

> $$\color{red}{\text{vetor}}[\color{orange}{\text{elementos}}]$$

Extraindo o primeiro elemento de um vetor:

In [ ]:
vida_animais[1]

In [ ]:
animais[1]

Extraindo o quinto elemento de um vetor:

In [ ]:
vida_animais[5]

In [ ]:
animais[5]

In [ ]:
animais[c(1, 3, 5)]

## Indexando com testes lógicos

Também é possível indexar usando teste lógicos.

Se uma expressão for avaliada como `TRUE` (verdadeira) pelo computador, então o elemento verdadeiro será **guardado** e quando for avaliada `FALSE` o **elemento** será removido.

> $$\color{red}{\text{vetor}}[\color{orange}{\text{vetor de TRUE/FALSE com mesmo tamanho}}]$$

Veja alguns testes lógicos que extraem todos os animais que possuem mais tempo de vida que os humanos:

In [ ]:
vida_animais > vida_humano

Agora podemos usar colchetes `[]` para apenas manter aqueles animaisque possuírem maior tempo de vida que os humanos.

In [ ]:
animais[vida_animais > vida_humano]

#Será que você é capaz de fazer o mesmo, porém apenas para animais que possuírem tempo de vida menor que o dos humanos?

Adicionei algumas células para tentar:

# Funções



> $\color{blue}{\text{"Tudo que acontece em R é uma função."}}$
~John M. Chambers

Você pode pensar em funções como pequenas máquinas que (na maior parte dos casos) processa algum **input** (**entrada**) e cria um **output** (**saída**).

Input (ou entrada) é tudo o que (pasmem) *entra* numa função:

*   **argumentos** você pode imaginar argumentos como algum input pré-determinado como uma alavanca ou um teclado numérico.

*   **valores** são as várias configurações que as alavancas ou os teclados numéricos podem ter.

## O Gerador Estelar

Bora considerar a seguinte função (que infelizmente ainda não existe):
O `gerador_estelar`!

Essa pequena máquina gera um pequeno desenho de estrelas dependendo do input. Precisa de dois argumentos:

* `how_many` fala para a máquina quantas estrelas produzir
* `type` fala para a máquina como as estrelas devem parecer (nesse caso a máquina apenas suportará  estrelas `"squiggly"`, mas isso pode ser aprimorado no futuro quando aprendermos mais como criar nossas próprias funções)

![Image](https://raw.githubusercontent.com/favstats/hertieschool_datasciencesummerschool/master/img/starproducer2.png)


Nota: assim como alavancas ou teclados numéricos você também precisa ser cuidadoso com o tipo de valor experado num argumento. Você não pode colocar numeros numa alavanca, por exemplo e um teclado numérico não faz muito quando você o puxa ou balança (além de quebrar). Similarmente, um certo argumento necessita de que o input de valor numérico, ou objetos mais complexos em R.


## Precisa de ajuda? Use `?help`

Como saber quais valores entram em quais funções?

Você pode encontrar a documentação de uma função quando digita `?` antes do nome da função. Isso deve te contar o bastante sobre argumentos, como usá-los e como usar a função, além do que esperar do output (da saída).

## Exemplo de função: seq

Vamos tentar entender uma função que está inclusa em qualquer instalação do R: `seq`.

In [ ]:
?seq

Da descrição podemos aprender que essa função é usada para: 

> "[g]enerate regular sequences".
> "gerar sequencias regulares".

Os primeiros tres argumentos são assim:

* `from`, `to`: o primeiro e (máximo) valores finais de uma sequencia.

* `by`: número: incremento da sequencia.

Então especificamos de quando para onde nossa sequência deve ir e por qual número deve ir incrementando.

Vamos dar uma olhada dentro da nossa alegoria da máquina estelar.



![Image](https://raw.githubusercontent.com/favstats/hertieschool_datasciencesummerschool/master/img/seq2.png)

Se quisermos criar um vetor de 1 até 10, que incrementa de 1 em 1, podemos simples especificar isso com os seguintes valores de input no argumento da função:

* `from`: 1
* `to`: 10
* `by`: 1

É assim que se parece em código (falando com o computador):

In [ ]:
seq(from = 1, to = 10, by = 1)

### Passando Valores

Existem duas formas de passar valores para funções em R:

1.   Passar pelo argumento *names* (fizemos isso antes!)
2.   Passar pelo argumento *position*

No caso anterior, mencionamos quais argumentos gostariamos de passar o valores.

Para isso, não importa em qual **ordem** passamos nossos argumentos.

Então este é um código perfeitamente válido que produz o mesmo resultado que o anterior, mesmo que pareça menos intuitivo:

In [ ]:
seq(to = 10, by = 1, from = 1)

Porééééééém: **programadores são preguiçosos**.

Não existe a necessidade de SEMPRE especificar quais argumentos você exatamente está mencionando quando você pode simplesmente combinar de acordo com a *posição*.

Então nosso exemplo poderia ser assim:

In [ ]:
seq(1, 10, 1)
#perceba que não há necessidade de usar os nomes do argumentos que estão sendo passados

E isso funciona porque a documentação mostou que os primeiros três argumentos são `from`, `to`, e `by`.

No futuro você verá quão comum é usar funções dessa forma. Acostume-se.

## Mais exemplos: Mean (média) e Median (mediana)

De fato, na maior parte do tempo as funções possuem estruturas intuitivas que normalmente não precisam nem de ?help para entendê-las (mesmo que seja aconselhável sempre olhar).

Uma função simples de usar é a de média `mean()` que simplesmente calcula a média de um vetor numérico.

Vamos tentar com o vetor `vida_animais` que criamos antes.

In [ ]:
mean(vida_animais)

Uma média *Bem* velha!

In [ ]:
median(vida_animais)

Bem quando pegamos a mediana ao invés da média podemos ver que este número se deve aos altos outliers (a mediana tende em direção à valores extremos).

Claro que existem muito mais funções em R e teremos que aprender algumas delas ao longo dessas aulas.

# Criando nossas próprias funções

Podemos criar nossas príprias funções chamando a função: `function()`.

Escrevemos o que deve acontecer dentro da função entre chaves `{}`.

Aqui está a anatomia de uma função:

$\color{purple}{\text{nome}}$ <- $\text{função}(\color{orange}{\text{argumento}})${


> $\color{green}{\text{# corpo da função}}$

> $\color{lightblue}{\text{valor}}$ <- $\color{orange}{\text{argumento}}$


> $\text{return(}\color{lightblue}{\text{valor}}\text{)}$

}

* $\color{purple}{\text{Nome da Função}}$:
  * Um identificador pelo qual a função é chamada 

* $\color{orange}{\text{Argumento(s)}}$:
  * Conté, uma lista de valores passadas para a função.
  * Também pode conter um valor padrão como: `argumento = 1`.

* $\color{green}{\text{Corpo da Função}}$:
  * Isso é executado toda vez que a função for chamada

* $\color{lightblue}{\text{Return (Retornar valor)}}$:
  * Termina a função & envia um valor de volta ao ambiente Global.

## Função para elevar qualquer número ao quadrado

Vamos definir a função que eleva ao quadrado valores numéricos.

In [ ]:
quadrado <- function(numero_a_ser_quadrado) { 
  
  numero_ao_quadrado <- numero_a_ser_quadrado^2

  return(numero_ao_quadrado)                  
  
}

In [ ]:
quadrado(4)

> Dica: Dentro do RStudio podemos simplesmente digitar fun e dar enter depois de um popup e o RStudio automaticamente gerará um template para uma função. Infelizmente, isso não funciona por aqui no ambiente no Google Colab.

## Função dos anos de cachorros para anos de humanos - ou vice-versa

Agora vamos criar uma função capaz de calcular anos de cachorro em anos humanos. Chamaremos de `anos_cao_para_humanos`.

In [ ]:
anos_cao_para_humanos <- function(anos_animais){

  human_lifespan <- 122.5
  dog_lifespan <- 24

  ratio <- human_lifespan/dog_lifespan

  human_years <- animal_years*ratio

  return(human_years)
}

In [ ]:
anos_cao_para_humanos(8)

Yey!

# Exercícios I

Sigam estes exercícios para entender mais sobre a lógica e a linguagem de computação.

## Primeira tarefa

Dê uma olhada na tabela abaixo. 

Escolha três animais dos dados vida_animais que ainda não usamos nos exemplos.

Determine os valores do tempo de vida a objetos **únicos** com nomes apropriados.

| Animal | Máxima Longevidade (em anos)|
| --- | --- | 
| Human | 122.5 | 
| Domestic dog | 24.0 | 
| Domestic cat | 30.0 | 
| American alligator | 77.0 | 
| Golden hamster | 3.9 | 
| King penguin | 26.0 | 
| Lion|	27.0 | 
| Greenland shark	 | 392.0 | 
| Galapagos tortoise | 177.0 | 
| African bush elephant	 | 65.0 | 
| California sea lion	| 35.7	 | 
| Fruit fly		| 0.3	 | 
| House mouse		| 4.0	 |
| Giraffe		| 39.5	 |
| Wild boar		| 27.0	|

## Segunda Tarefa

Crie três testes lógicos diferentes que comparam a máxima longevidade entre os animais que você escolheu.

O output conseguido faz sentido?

## Terceira Tarefa

Crie dois vetores com a ajuda de `c()`:

1.  strings (i.e. textos) de todos os animais que você escolher
2.  o valor do tempo de vida respectivo a sua escolha (na mesma ordem)

## Qarta Tarefa

Calcule a média do seu vetor de tempo de vida.

## Quinta Tarefa

5.1 Adquira o *segundo* valor do vetor que contenha os nomes dos seus animais.

> Dica: Colchetes sãos seus amigos nessa.


5.2 Usando código, descubra quais dos animais no seu vetor possuem um valor máximo de longevidade maior que 25.

> Dica: para uma solução elegante você precisará usar *ambos* vetores, colchetes e um teste lógico.

## Sexta Tarefa

Calcule a taxa de conversão de animais para humanos dos animais que você escolheu nas tarefas anteriores, designe o resultado a um objeto.

## Sétima Tarega

Calcule os anos humanos para seus animais escolhidos e assuma que todos são 5 anos mais velhos.

## Oitava Tarefa

Selecione um dos animais que você escolheu e crie uma função que leva como input o tempo de vida dos animais e como saída anos humanos. Teste a função e valide com os resultados do exercício 7.

Você pode nomear a função nesse estilo:

`[seu_nome_de_animais]_para_anos_humanos`


Crie a função aqui:

Teste aqui:

# Data frames

Data frames são os objetos que mais iremos interagir em R. De certa forma você já sabe um pouco sobre eles também.

Um exemplo de dataframe seria a tabela do [Animal Ageing and Longevity Database](https://www.johnsnowlabs.com/marketplace/the-animal-aging-and-longevity-database/) que já vimos anteriormente.


| Animal | Máxima longevidade (em anos) |
| --- | --- | 
| Human | 122.5 | 
| Domestic dog | 24.0 | 
| Domestic cat | 30.0 | 
| American alligator | 77.0 | 
| Golden hamster | 3.9 | 
| King penguin | 26.0 | 
| Lion|	27.0 | 
| Greenland shark	 | 392.0 | 
| Galapagos tortoise | 177.0 | 
| African bush elephant	 | 65.0 | 
| California sea lion	| 35.7	 | 
| Fruit fly		| 0.3	 | 
| House mouse		| 4.0	 |
| Giraffe		| 39.5	 |
| Wild boar		| 27.0	|

In [ ]:
human_lifespan <- 122.5
dog_lifespan <- 24
lion_lifespan <- 27
mouse_lifespan <- 4
fly_lifespan <- 0.3
boar_lifespan <- 27
alligator_lifespan <- 77
greenland_shark_lifespan <- 392
galapagos_tortoise_lifespan <- 177

animal_lifespans <- c(greenland_shark_lifespan, dog_lifespan, 
  galapagos_tortoise_lifespan,
  mouse_lifespan, fly_lifespan,
  lion_lifespan, boar_lifespan, 
  alligator_lifespan, human_lifespan)

animals <- c("greenland_shark", "dog", 
  "galapagos_tortoise", "mouse", 
  "fly", "lion", "boar",
  "alligator", "human")

Para criar um data frame do zero podemos passar dois vetores (de mesmo tamanho) para a função `data.frame`.

In [ ]:
data.frame(animals, animal_lifespans)

Podemos também colocar data frames em objetos.

In [ ]:
animals_data <- data.frame(animals, animal_lifespans)

animals_data

### Dimensões de dados

Podemos usar funções para determinar a forma do nosso dado.

#### Quantas colunas nosso dado possui?

Podemos usar a função `ncol()` para determinar o número de colunas.

In [ ]:
ncol(animals_data)

#### Quantas linhas tem no dado?

Use `nrow()` para determinar número de linhas.

In [ ]:
nrow(animals_data)

#### `dim()`

Podemos usar `dim()` para obter todas essas informações de uma só vez:

In [ ]:
dim(animals_data)

O primeiro valor conta as linhas, o segundo conta as colunas.

## Nomes de variáveis

Podemos obter o nome das variáveis em qualquer data frame passando o para `names()`.

In [ ]:
names(animals_data)

## Recuperar variáveis

Se quisermos recuperar variáveis específicar de qualquer data framde podemos fazer isso via operador `$`.

> $$\color{red}{\text{dataset}}$\color{orange}{\text{nome_variavel}}$$

Pense no simbolo `$` como uma chave que abre portas e ajuda a checar o que está dentro de um objeto.

In [ ]:
animals_data$animal_lifespans

In [ ]:
animals_data$animals

## Recolocar variáveis

Podemos usar o acesso de `$` para adicionar **novas variáveis**.

No caso abaixo criamos uma variável chamada `animal_to_human` que mantém todas as conversões de anos de humanos para animais.

Fazemos isso simplesmente assinalando um vetor contendo a informação para`animals_data$animal_to_human` mesmo que essa variável ainda não exista.

In [ ]:
animals_data$animal_to_human <- animals_data$animal_lifespans / human_lifespan

In [ ]:
animals_data

## Indexando

Assim como fizemos anteriormente com os vetores podemos também indexar data frames com colchetes: `[]`. No entanto, diferente de vetores, data frames possuem **duas dimensões**.

Então é por isso que os colchetes nesse caso levam dois inputs, separados por uma vírgula:

> $$\color{red}{\text{dataset}}[\color{orange}{\text{linhas}},\color{lightblue}{\text{colunas}}]$$

* O primeiro valor depois de abrir um colchete se refere à  $\color{orange}{\text{quais linhas}}$ você quer manter.

* O segundo valor se refere à  $\color{lightblue}{\text{quais colunas}}$ você quer manter.

Se quisermos apenas manter a primeira linha e a primeira coluna do nosso data frame `animals_data` fazemos assim:

In [ ]:
animals_data[1, 1]

*Se* quisermos manter uma certa linha, porém todas as colunas podemos fazer isso deixando o *segundo* valor vazio.

In [ ]:
animals_data[1, ]

O mesmo funciona para columas, mas mantendo todas as linhas.

Isso retorna um vetor:

In [ ]:
animals_data[, 1]

## Indexando com teste lógicos

Também podemos fazer indexações mais complexas mantendo apenas linhas que preencham uma certa condição. Digamos que apenas queremos manter as linhas que contenham animais que vivam mais que os humanos.

In [ ]:
animals_data$animal_lifespans > human_lifespan

In [ ]:
animals_data[animals_data$animal_lifespans > human_lifespan, ]

Espero que tenha gostado dessa introdução à computação e linguagem de programação com R! Te vejo nas aulas seguintes onde poderemos programar estruturas ainda mais complexas como robôs ou inteligências artificiais.